@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins";
  background-color: #fff;
  overflow-x: hidden;
}

/* Navbar */
.container-fluid {
  display: flex;
  margin: 0px 5rem;
}

nav .navbar-brand img {
  width: 100px;
}

nav .navbar-brand {
  font-weight: 600;
  font-size: 18px;
}

nav .collapse {
  justify-content: end;
}

nav .collapse ul {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

nav .collapse ul li a {
  color: #313131;
  font-weight: 600;
  font-size: 16px;
}

.collapse ul li a:hover {
  color: #1f8a70;
}

nav .btn {
  width: 110px;
  background: #1f8a70;
  border-radius: 100px;
  transition: 0.3s;
}

nav .btn a {
  padding-right: 5px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

nav .btn:hover {
  background: #1f8a70;
  box-shadow: 0px 0px 14px -2px #1f8a70;
}

nav .btn i {
  color: white;
}

/* End Navbar */

/* Slider */

.carousel-item img {
  width: 100%;
  max-height: 500px;
}

/* End Slider */

/* Harapan */

.container-harapan {
  text-align: center;
  padding: 3rem;
  background-color: #1f8a70;
}

.container-harapan h2 {
  color: white;
  padding-bottom: 3rem;
  font-weight: 600;
}

.container-harapan .container-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem;
}

.container-harapan .container-card .card {
  background: #ffffff;
  border-radius: 25px;
  padding: 1rem;
}

.container-harapan .card-body img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 4px solid #1f8a70;
}
.people-title .nama {
  padding-top: 20px;
  font-weight: 600;
}

.people-title h5 {
  padding-top: 10px;
  color: #287d7d;
}

.people-title p {
  color: #287d7d;
  font-size: 12px;
}

/* End Harapan */

/* Visi */

.visi {
  margin: 3rem 0 5rem;
}

.visi-img {
  padding-top: 3rem;
}

.visi-img img {
  max-width: 100%;
}

.visi h3 {
  text-align: center;
  font-weight: bold;
}

.visi .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-visi {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 50px;
}

.card-visi .card {
  background-color: #1f8a70;
  margin: 2rem;
}

.card-visi .card-body {
  margin: 10px 10px 10px;
  color: white;
}

/* End Visi */

/* Footer */

footer {
  padding-top: 50px;
}

.footer {
  text-align: center;
  width: 100%;
  height: 300px;
  background: #eef2e6;
}

.footer .sosmed {
  display: flex;
  justify-content: center;
}

.footer .sosmed a {
  margin: 4rem 2rem;
}

.footer .sosmed a i {
  font-size: 32px;
  color: #287d7d;
  transition: 0.3s;
}

.footer .sosmed a i:hover {
  color: #14b8a6;
}

.footer-img {
  text-align: center;
}

.footer-img img {
  text-align: center;
}

.footer-img img:hover {
  color: #14b8a6;
}

/* End Footer */

hr {
  text-align: center;
}
